/* common */
body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  width: calc(100% - 96px);
  box-sizing: border-box;
  padding: 32px 0;
}

/* products */
.products h2 {
  padding: 32px 0;
}

.products h2 {
  padding: 32px 0;
}

.products h3 {
  margin-top: 16px;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.products li {
  width: calc((100% - 64px) / 3);
}

.products img {
  width: 100%;
  height: auto;
}

/* footer */
footer {
  text-align: center;
  padding: 32px 0 0;
  font-size: 14px;
}

.indivisual {
  display: flex;
  margin-top: 32px;
  gap: 32px;
}

.desc p {
  margin-top: 16px;
}
button {
  margin-top: 16px;
  padding: 8px 16px;
  cursor: pointer;
}
.desc {
  flex: 1;
}
.pic {
  flex: 1;
}

.pic img {
  width: 100%;
  height: auto;
}
